{{!-- Create card for each workout --}}
{{#each workouts as |workout|}}

<section class="card" id="workout-{{workout.id}}">
    <section class="card-header d-flex flex-row justify-content-between">
        <section>
            <p>{{workout.category}} {{#if workout.exercise}} - {{workout.exercise}} {{/if}}</p>
        </section>
        <section>
            <i class="fa-solid fa-pen-to-square mx-3"></i>
            <i class="fa-solid fa-square-minus"></i>
        </section>
    </section>

    <section class="card-body">
        <ul>
            {{!-- If property not null, then display info on card --}}
            {{#if workout.type}}
            <li>Type: {{workout.type}}</li>
            {{/if}}

            {{!-- {{#if workout.exercise}}
            <li>Exercise: {{workout.exercise}}</li>
            {{/if}} --}}

            {{#if workout.duration}}
            <li>Duration: {{workout.duration}}</li>
            {{/if}}
            
            {{#if workout.distance}}
            <li>Distance: {{workout.distance}}</li>
            {{/if}}

            {{#if workout.sets}}
            <li>Number of Sets: {{workout.sets}}</li>
            {{/if}}

            {{#if workout.reps}}
            <li>Number of Reps/set: {{workout.reps}}</li>
            {{/if}}

            {{#if workout.weight}}
            <li>Weight &#40;lbs&#41;: {{workout.weight}}</li>
            {{/if}}

            {{#if workout.notes}}
            <li>Notes: {{workout.notes}}</li>
            {{/if}}
        </ul>
    </section>
</section>

{{/each}}

<script src="../../js/edit-workout.js"></script>