<header> <a href="/calendar">View Calendar</a></header>
<section class="day-view-card">
    <section class="day-header">
        <h2>Todays Date</h2>
    </section>

    <section class="day-view-body">
        <section class="workout-day-view-sections d-flex flex-row">
            <article class="todays-workout scrollable">
                <section class="d-flex flex-column col-10 content-wrapper">
                    <section class="content">
                        {{!-- Display Add A Workout btn if add/edit-workout-form not displayed --}}
                        {{#unless addWorkout}}
                        {{#unless updateWorkout}}
                        <button id="add-workout" class="btn btn-secondary mb-2 rounded-0">Add A Workout</button>
                        {{/unless}}
                        {{/unless}}

                        {{#if addWorkout}}
                        {{> add-workout-form}}
                        {{else if updateWorkout}}
                        {{> edit-workout}}
                        {{else}}
                        {{> workout-info}}
                        {{/if}}
                    </section>
                </section>
            </article>

            <section class="d-flex flex-column col-6">
                <article class="previous-workout">
                    <h4>Insert previous {{category}} here</h4>
                    <p>Insert previous {{exercise}} here</p>
                    <p>Insert previous {{duration}} here</p>
                    <p>Insert previous {{distance}} here</p>
                    <p>Insert previous {{sets}} here</p>
                    <p>Insert previous {{reps}} here</p>
                    <p>Insert previous {{weight}} here</p>
                    <p>Insert previous {{date}} here</p>
                </article>

                <article class="exercises-info">
                    <form id="suggested-workout-options">
                        <label for="type">Select workout type:</label>
                        <select name="type" id="type">
                            <option value="cardio">Cardio</option>
                            <option value="plyometrics">Plyometrics</option>
                            <option value="powerlifting">Powerlifting</option>
                            <option value="strength">Strength</option>
                            <option value="stretching">Stretching</option>
                        </select>
                        <button class="generate btn btn-secondary mb-2">Submit</button>
                    </form>

                    <section class="populated-data hide">
                        <h3>Suggested <span id="exercise-type"></span> Workout:</h3>
                        <h4>Exercise Name:</h4>
                        <p id="exercise-name"></p>
                        <h4>Exercise Difficulty:</h4>
                        <p id="exercise-difficulty"></p>
                        <h4>Exercise Equipment:</h4>
                        <p id="exercise-equipment"></p>
                        <h4>Exercise Instructions:</h4>
                        <p id="exercise-instructions"></p>
                        <button class="clear btn btn-danger mb-2">Clear</button>
                    </section>
                </article>
            </section>
        </section>
    </section>
</section>

<script src="/js/day-view.js"></script>